@import './reset.css';
@import './reset.scss';
@import './animate.scss';
body {
  width: 100vw;
  color: $font-color;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}
.inner {
  width: 1440px;
  margin: 0 auto;
}

// header
header {
  @include position(fixed, 0, 0);
  @include widthHeight(100%, 80px);
  background-color: $bg-color;
  z-index: 600;

  .inner {
    @include flex(null, center, space-between);
    height: 100%;
  }

  .logo {
    a {
      display: block;
      font-size: 1.5em;
      font-weight: 600;
      color: $font-color;
    }
  }
  .menu_btn {
    .bar {
      width: 35px;
      height: 5px;
      margin: 6px 0;
      background-color: $font-color;
      transition: all 0.5s;
    }
  }
}

// menu click
.bar1.change {
  transform: rotate(-45deg) translate(-9px, 6px);
}
.bar2.change {
  opacity: 0;
}
.bar3.change {
  transform: rotate(45deg) translate(-8px, -8px);
}

// nav
nav {
  @include position(fixed, 80px, 0);
  display: none;
  width: 100%;
  height: calc(100vh - 80px);
  z-index: 600;

  ul {
    @include centerFixed(fixed, 50%, 50%);
    text-align: center;
    li {
      transform: translate3d(0, 1000px, 0);
      transition: all 0.8s;
      a {
        display: block;
        margin-bottom: 50px;
        color: $font-color;
        font-size: 4em;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
}

.nav_bg {
  @include flex(null, center, center);
  height: 100%;
  .bg {
    width: 10%;
    height: 100%;
    opacity: 0;
    background-color: #000;
    transition: all 0.5s;
  }
}

// banner
#banner {
  @include position(relative);
  height: 100vh;
  background-color: $bg-color;
  z-index: 500;

  .inner {
    @include flex(null, center, space-between);
    height: 100%;
  }

  .text {
    width: 50%;
    padding: 20px;
    h1 {
      margin-bottom: 50px;
      font-size: 5em;
      font-weight: 600;

      span {
        display: block;
        margin-bottom: 30px;
        font-size: 2rem;
        text-transform: uppercase;
      }
    }
  }
  .img_box {
    width: 35%;
    height: 500px;
    background-color: $accent-color;

    img {
      width: 100%;
      padding: 50px;
      transform: rotate(-8deg);
      background-color: $font-color;
    }
  }
}

// about
#about {
  padding-top: 10vh;
  background-color: $bg-color;

  .title {
    position: sticky;
    top: 20vh;
    margin-bottom: 10vh;
    text-align: center;

    .sub_title {
      margin-bottom: 30px;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 600;
      color: $accent-color;
    }
    h2 {
      font-size: 4em;
      font-weight: 600;
      color: $font-color;
    }
  }
}

.row {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh;
}
.box {
  @include flex(column, center, center);
  position: sticky;
  top: 50vh;
  color: $font-color;
  background-color: whitesmoke;

  &:nth-of-type(1) {
    grid-area: 1/1/1/2;
    background-color: #fef9dd;
  }
  &:nth-of-type(2) {
    grid-area: 1/2/2/3;
    background-color: #fee6dd;
  }
  &:nth-of-type(3) {
    grid-area: 1/3/1/4;
    background-color: $bg-color;
  }
  &:nth-of-type(4) {
    grid-area: 2/2/3/3;
  }
  &:nth-of-type(5) {
    grid-area: 3/1/4/2;
    background-color: $bg-color;
  }
  &:nth-of-type(6) {
    grid-area: 3/3/4/4;
  }
  &:nth-of-type(7) {
    grid-area: 4/2/5/3;
    path {
      stroke-width: 1px;
    }
  }
  &:nth-of-type(8) {
    grid-area: 5/1/6/2;
  }
  &:nth-of-type(9) {
    grid-area: 5/2/6/3;
    background-color: $bg-color;
  }
  > .text {
    width: 80%;

    h3 {
      margin-bottom: 50px;
      font-size: 3em;
      font-weight: 600;
    }
    p {
      margin-bottom: 10px;
      font-size: 1.1em;
      line-height: 1.5em;
    }
  }
  img {
    width: 40%;
  }
  .svg {
    width: 60%;
    height: 60%;
  }
  path {
    stroke-width: 1;
  }
}

.ability {
  grid-area: 6/1/7/4;
  height: 51vh;
  padding: 0 50px;
  top: 49vh;
  background: $bg-color;

  .inner {
    @include flex(row, center, space-between);
  }

  .text {
    text-align: center;
    h3 {
      margin-bottom: 30px;
      font-size: 2em;
      font-weight: 600;
      line-height: 1.2em;
    }
  }
}
.ability_container {
  @include flex(column, flex-end, space-between);
}
.skill_progress {
  @include flex(row, center, space-between);
  margin-bottom: 30px;

  h4 {
    margin-right: 30px;
    font-size: 1.5em;
    font-weight: 600;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.bar_container {
  width: 650px;
  height: 40px;
  border-radius: 30px;
  box-shadow: inset 6px 6px 10px rgba(0, 0, 0, 0.3);
  background-color: rgba(211, 217, 221, 0.4);
  overflow: hidden;

  .progress_bar {
    width: 0%;
    height: 40px;
    background-color: #f5bf0e;
    transition: width 1s;
  }
}

// project
#project {
  padding: 10vh 0;
  background-color: $bg-color;
}
.section {
  @include flex(row, center, space-between);
  position: sticky;
  top: 10vh;
  width: 100%;
  height: 85vh;
  padding: 20px;
  margin-bottom: 10vh;
  background-color: $bg-color;

  &:last-of-type {
    margin-bottom: 0;
  }
  .desc {
    .sub_title {
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 18px;
      color: $accent-color;
    }
    p {
      margin-bottom: 30px;
    }
    h3 {
      margin-bottom: 30px;
      font-size: 4em;
      font-weight: 600;
    }

    .buttons {
      margin-top: 50px;
    }
    button {
      width: 200px;
      padding: 20px;
      margin-right: 20px;
      color: $font-color;
      background-color: transparent;
      border-radius: 30px;
      border: 1px solid $accent-color;
    }
  }

  &:nth-of-type(odd) img.mobile_small {
    left: 0;
  }
  .desc.left {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    text-align: left;
  }
  .desc.right {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    text-align: right;
  }
  .desc.animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: all 800ms;
  }
  .thum {
    opacity: 0;
  }
  .thum.animate {
    opacity: 1;
    transition: all 1s;
    transition-delay: 500ms;
  }
}

.thum {
  position: relative;
  width: 60%;
  text-align: center;

  img {
    width: 90%;
  }
  img.mobile {
    position: relative;
    width: auto;
    height: 700px;
    margin-right: 30px;
    z-index: 10;
  }
  img.mobile_small {
    position: absolute;
    width: auto;
    height: 400px;
    right: 0;
    bottom: -80px;
  }
}

.btn {
  @include btn-border-slide($font-color, $accent-color, 1px, 0.5s);
  color: $font-color;
}
/* Contact */
#contact {
  width: 100%;
  height: 100vh;
  background-color: $bg-color;
}
