@import './reset.css';
@import './reset.scss';

.inner {
  width: 1440px;
  margin: 0 auto;
}

// header
header {
  @include position(fixed, 0, 0);
  width: 100%;
  height: 80px;
  background-color: transparent;
  z-index: 600;

  .inner {
    @include flex(row, center, space-between);
  }

  .logo {
    width: 50px;
    height: 50px;
    background-color: red;
  }
}

nav {
  ul {
    @include flex(row, center, center);

    a {
      display: block;
      height: 80px;
      padding: 0 10px;
      line-height: 80px;
      color: #000;
      transition: all 0.3s;

      &:hover {
        color: red;
      }
    }
  }
}

// banner
#banner {
  position: relative;
  height: 100vh;
  background-color: #fee5dc;
  z-index: 500;

  .inner {
    @include flex(row, center, space-between);
    height: 100%;
  }

  .text {
    width: 50%;
    h1 {
      margin-bottom: 50px;
      font-size: 5em;
      font-weight: 600;

      span {
        display: block;
        font-size: 2rem;
      }
    }
    p {
      width: 50%;
    }
  }
  img {
    width: 30%;
    padding: 50px;
  }
}

// about
#about {
  padding-top: 10vh;
  background-color: #f8e8cc;

  .title {
    position: sticky;
    top: 20vh;
    margin-bottom: 10vh;
    text-align: center;
    p {
      margin-bottom: 30px;
    }
    h2 {
      font-size: 4em;
      font-weight: 600;
      color: #444;
    }
  }
}

.row {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh;
}
.box {
  @include flex(column, center, center);
  position: sticky;
  top: 50vh;
  color: #000;
  background-color: whitesmoke;

  &:nth-of-type(1) {
    grid-area: 1/1/1/2;
    background-color: #fef9dd;
  }
  &:nth-of-type(2) {
    grid-area: 1/2/2/3;
    background-color: #fee6dd;
  }
  &:nth-of-type(3) {
    grid-area: 1/3/1/4;
    background-color: #f8e8cc;
  }
  &:nth-of-type(4) {
    grid-area: 2/2/3/3;
  }
  &:nth-of-type(5) {
    grid-area: 3/1/4/2;
    background-color: #f8e8cc;
  }
  &:nth-of-type(6) {
    grid-area: 3/3/4/4;
  }
  &:nth-of-type(7) {
    grid-area: 4/2/5/3;
    path {
      stroke-width: 1px;
    }
  }
  &:nth-of-type(8) {
    grid-area: 5/1/6/2;
  }
  &:nth-of-type(9) {
    grid-area: 5/2/6/3;
    background-color: #f8e8cc;
  }
  > .text {
    width: 80%;

    h3 {
      margin-bottom: 50px;
      font-size: 3em;
      font-weight: 600;
    }
    p {
      margin-bottom: 10px;
      font-size: 1.1em;
      line-height: 1.5em;
    }
  }
  img {
    width: 40%;
  }
  .svg {
    width: 60%;
    height: 60%;
  }
  path {
    stroke-width: 1;
  }
}

.ability {
  grid-area: 6/1/7/4;
  height: 50vh;
  padding: 0 50px;
  top: 50vh;

  .inner {
    @include flex(row, center, space-between);
  }

  .text {
    text-align: center;
    h3 {
      margin-bottom: 30px;
      font-size: 2em;
      font-weight: 600;
      line-height: 1.2em;
    }
  }
}
.ability_container {
  @include flex(column, flex-end, space-between);
}
.skill_progress {
  @include flex(row, center, space-between);
  margin-bottom: 30px;

  h4 {
    margin-right: 30px;
    font-size: 1.5em;
    font-weight: 600;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.bar_container {
  width: 650px;
  height: 40px;
  border-radius: 30px;
  box-shadow: inset 6px 6px 10px rgba(0, 0, 0, 0.3);
  background-color: rgba(211, 217, 221, 0.4);
  overflow: hidden;

  .progress_bar {
    width: 0%;
    height: 40px;
    background-color: #49a6d1;
    transition: width 1s;
  }
}

// project
#project {
  padding: 10vh 0;
  background-color: #fee6dd;
}
.section {
  @include flex(row, center, space-between);
  position: sticky;
  top: 10vh;
  width: 100%;
  height: 85vh;
  padding: 20px;
  margin-bottom: 10vh;
  border: 1px solid #fff;
  background-color: #fee6dd;

  &:last-of-type {
    margin-bottom: 0;
  }
  .desc {
    text-align: left;

    p {
      margin-bottom: 10px;
      font-weight: 600;
    }
    h3 {
      margin-bottom: 30px;
      font-size: 4em;
      font-weight: 600;
    }
    .buttons {
      margin-top: 50px;
    }
    button {
      width: 200px;
      padding: 20px;
      margin-right: 20px;
      background-color: transparent;
      border-radius: 30px;
    }
  }

  &:nth-of-type(even) .desc {
    text-align: right;
  }
  &:nth-of-type(odd) img.mobile_small {
    left: 0;
  }
}

.thum {
  position: relative;
  width: 60%;
  text-align: center;

  img {
    width: 90%;
  }
  img.mobile {
    position: relative;
    width: auto;
    height: 700px;
    margin-right: 30px;
    z-index: 10;
  }
  img.mobile_small {
    position: absolute;
    width: auto;
    height: 400px;
    right: 0;
    bottom: -80px;
  }
}

/* Contact */
#contact {
  width: 100%;
  height: 100vh;
  background-color: floralwhite;
}
